.button {
  width: 100%;
  padding: 17px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: var(--font-outfit);
  transition: all 0.5s;
}
.primary {
  border: 1px solid var(--primary-color);
  color: var(--white-color);
  background-color: var(--primary-color);
}
.primary:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: transparent;
}
.primary-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: transparent;
}

.primary-outline:hover {
  border: 1px solid var(--primary-color);
  color: var(--white-color);
  background-color: var(--primary-color);
}
.button:hover {
  transform: scale(0.98);
}
.secondary {
  border: 1px solid var(--primary-color);
  color: var(--white-color);
  background-color: var(--primary-color);
}
.secondary:hover {
  border: 1px solid var(--white-color);
  background-color: var(--white-color);
  color: var(--primary-color);
}

@media screen and (max-width: 992px) {
  .button {
    padding: 10px;
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .button {
    font-size: 13px;
  }
}
