.titleDiv {
  margin-block: 40px 30px;
}
@media screen and (max-width: 768px) {
  .titleDiv {
    margin-block: 50px 30px;
  }
}

@media screen and (max-width: 576px) {
  .titleDiv {
    margin-block: 35px 25px;
  }
}
