.mainDiv {
  margin-block-start: 100px;
  padding-block: 30px;
  flex-direction: column;
  background: var(--primary-color);
}
.logoDiv {
  position: relative;
  width: 90px;
  height: 90px;
}

.title {
  color: var(--white-color) !important;
}
.header,
.mainDiv,
.navItems,
.socialLinkDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  gap: 30px;
}
.navItems,
.socialLinkDiv {
  gap: 30px;
  flex-wrap: wrap;
}
.navItems {
  margin-block: 10px 40px;
}
.socialLinkDiv {
  width: 100%;
  border-top: 2px solid var(--white-color);
  border-bottom: 2px solid var(--white-color);
  padding-bottom: 30px;
  padding-top: 30px;
}
.socialLinkDiv svg {
  color: var(--white-color);
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.thirdIcon svg {
  width: 40px;
  height: 40px;
}

.navItems h5 {
  cursor: pointer;
  color: var(--white-color) !important;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.navItems h5::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 50px;
  background-color: var(--white-color);
  transition: width 0.3s ease-in-out;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.navItems h5:hover::after {
  width: 100%;
}
.bottomFooter {
  margin-block-start: 30px;
  text-align: center;
}
.bottomFooter p {
  color: var(--white-color) !important;
}
@media screen and (max-width: 992px) {
  .logoDiv {
    width: 50px;
    height: 50px;
  }
  .mainDiv {
    gap: 10px;
  }
  .navItems {
    margin-block: 10px 20px;
  }
  .socialLinkDiv {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .bottomFooter {
    margin-block-start: 10px;
  }
}

@media screen and (max-width: 576px) {
  .bottomFooter p {
    font-size: 14px;
    flex-wrap: wrap;
  }
  .socialLinkDiv svg {
    width: 22px;
    height: 22px;
  }
  .navItems {
    gap: 20px;
    margin-inline: 25px;
    margin-block: 0px 10px;
    row-gap: 10px;
    column-gap: 10px;
  }
  .bottomFooter {
    max-width: 320px;
    /* margin-inline: 30px; */
  }
  .thirdIcon svg {
    width: 28px;
    height: 28px;
  }
}

@media screen and (max-width: 450px) {
  .mainDiv {
    margin-block-start: 50px;
  }
  .header {
    gap: 20px;
  }
}

@media screen and (max-width: 370px) {
  .bottomFooter {
    max-width: 270px;
  }
}
