.mainDiv {
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  border: 1px solid var(--light-gray);
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.overLay {
  z-index: 1;
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.325);
}
.imagesSection {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.imageDiv {
  background-color: var(--light-gray);
  position: relative;
  width: 100%;
  height: 300px;
}
.imageDiv img {
  object-fit: cover;
}
.viewButton {
  z-index: 5;
  white-space: nowrap;
  width: fit-content;
  /* pointer-events: auto; */
}
.centerWrapper {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.body {
  background-color: var(--white-color);
  padding: 15px 10px;
}

.body span {
  line-height: 1.5;
  color: var(--border-color) !important;
  margin-block-start: 10px !important;
}

.mainDiv:hover {
  transform: scale(0.98);
}
.mainDiv:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateY(100%);
  transition: transform 0.4s ease-in-out;
  z-index: 2;
}

.mainDiv:hover::after {
  width: 100%;
  height: 100%;
  transform: translateY(0);
}
@media screen and (max-width: 1025px) {
  .mainDiv::after,
  .mainDiv:hover::after {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .imageDiv {
    height: 230px;
  }
  .body h5 {
    font-size: 16px;
  }
  .body span {
    font-size: 14px;
  }
}
